<div class="site-footer" role="contentinfo">
    <% if current_user && current_user.admin? %>
        <%= @users_count %>
    <% end %>
    <ul class="site-footer-links ">
        <li>
          © 2015 
            <span>
              AlexFlush
            </span>
          , Inc.
        </li>
        <li>
            <%= link_to "Home", root_path %>
        </li>
        <li>
            <%= link_to "New", new_item_path %>
        </li>
    </ul>
</div>
