<div class="site-footer" role="contentinfo">
    <ul class="site-footer-links right">
        <li>
          © 2015 
            <span>
              AlexFlush
            </span>
          , Inc.
        </li>
        <li>
            <%= link_to "Home", items_path %>
        </li>
        <li>
            <%= link_to "New", new_item_path %>
        </li>
    </ul>
</div>
